<div [@pageTransition] class="min-h-screen bg-slate-50 flex justify-center items-center ">
    <div class="card p-5 w-10/12 xl:w-1/2 grid grid-cols-1 md:grid-cols-2">
        <div class="relative flex flex-col p-1 md:p-8">
            <h2 class="text-lg pb-2">
                Get Started Now
            </h2>

            <p class="text-xs">Enter your credentials to access your account</p>

            <div class="grid grid-cols-5 items-center">
                <div class="col-span-2">
                    <!-- You can add content here if needed -->
                </div>
            </div>

            <form class="my-5">
                <p *ngIf="validationErrors.length > 0" class="text-center mb-4">
                    <small class="text-red-500">{{validationErrors}}</small>
                </p>
                <div class="form-group">
                    <label for="email">Email</label>
                    <div class="relative">
                        <input type="email" id="email" name="email" required [(ngModel)]="email" class="form-control w-full ps-10" 
                            placeholder="please enter your username or email">
                        <span class="absolute top-2 left-0 ps-3 text-gray-400">
                            <i class="bi bi-envelope-at"></i>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <div class="relative">
                        <input type="password" id="password" name="password" required [(ngModel)]="password" class="form-control w-full ps-10"
                            placeholder="please enter your password">
                        <span class="absolute top-2 left-0 ps-3 text-gray-400">
                            <i class="bi bi-shield-lock"></i>
                        </span>
                    </div>
                </div>

                <div class="text-sm my-4">
                    <div class="inline-flex items-center gap-x-1">
                        <input type="checkbox" id="rememberme" class="h-auto cursor-pointer">
                        <label for="rememberme" class="cursor-pointer">Remember me</label>
                    </div>
                    <a href="javascript:void(0)" class="text-blue-600 float-right">Forget password?</a>
                </div>

                <button type="button" class="btn w-full btn-theme" [disabled]="isSubmitting || (password.length <= 0 || email.length <= 0)" (click)="loginAction()">
                    <span class="btn-text">Sign in</span>
                </button>
            </form>

            <div class="text-sm text-gray-400">
                <p>Don't have any account? <a routerLink="/register" class="text-blue-600">Sign up</a> now!</p>
            </div>
        </div>
        <div class="md:block hidden text-white bg-blue-600 rounded-lg p-8 xl:p-12">
            <h2 class="text-lg xl:text-2xl pb-3">Ready to Continue?<br>Sign in to manage your investments with confidence and precision</h2>
            <p class="text-xs">Enter your credentials to access your account</p>
        </div>
    </div>
</div>
