<div [@pageTransition] class="bg-slate-50 flex justify-center items-center pt-8">
    <div class="card p-5 w-10/12 xl:w-1/2 grid grid-cols-1 md:grid-cols-2">
        <div class="relative flex flex-col p-1 md:p-8">
            <h2 class="text-lg pb-2">
                Get Started Now
            </h2>
            <p class="text-xs">Enter your credentials to create your account</p>
            <div class="py-4"></div>
            <div class="grid grid-cols-5 items-center">
                <div class="col-span-2">
                    <hr>
                </div>
                <div class="col-span-2">
                    <hr>
                </div>
            </div>
            <form class="my-5">
                <div class="form-group">
                    <label class="form-label" for="name">Username</label>
                    <div class="relative">
                        <input type="text" id="name" name="name" [(ngModel)]="name" class="form-control w-full ps-10"
                            placeholder="please enter your full name">
                        <div *ngIf="validationErrors?.name != undefined" class="flex flex-col mt-2">
                            <small class="text-red-500">{{validationErrors.name[0]}}</small>
                        </div>
                        <span class="absolute top-2 left-0 ps-3 text-gray-400">
                            <i class="bi bi-person-circle"></i>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label" for="email">Email</label>
                    <div class="relative">
                        <input type="email" id="email" name="email" required [(ngModel)]="email" class="form-control w-full ps-10"
                            placeholder="please enter your email">
                        <div *ngIf="validationErrors?.email != undefined" class="flex flex-col mt-2">
                            <small class="text-red-500">{{validationErrors.email[0]}}</small>
                        </div>
                        <span class="absolute top-2 left-0 ps-3 text-gray-400">
                            <i class="bi bi-envelope-at"></i>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label" for="password">Password</label>
                    <div class="relative">
                        <input type="password" id="password" name="password" required [(ngModel)]="password" class="form-control w-full ps-10"
                            placeholder="please enter your password">
                        <div *ngIf="validationErrors?.password != undefined" class="flex flex-col mt-2">
                            <small class="text-red-500">{{validationErrors.password[0]}}</small>
                        </div>
                        <span class="absolute top-2 left-0 ps-3 text-gray-400">
                            <i class="bi bi-shield-lock"></i>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label" for="confirm-password">Confirm Password</label>
                    <div class="relative">
                        <input type="password" id="confirm-password" name="confirm-password" required [(ngModel)]="confirmPassword" class="form-control w-full ps-10"
                            placeholder="please enter your password again">
                        <span class="absolute top-2 left-0 ps-3 text-gray-400">
                            <i class="bi bi-shield-lock"></i>
                        </span>
                    </div>
                </div>
                <div class="my-5"></div>
                <button type="button"
                    [disabled]="isSubmitting || (password.length <= 0 || email.length <= 0 || confirmPassword.length <= 0)" (click)="registerAction()"
                    class="btn w-full bg-sky-500">
                    <!-- <btn-spinner *ngIf="isLoading"></btn-spinner>
                    Sign up -->
                    Sign up 
                </button>
            </form>
            <div class="text-sm text-gray-400">
                <p>
                    Already have an account?
                    <a routerLink="/login" class="text-blue-600">
                        Sign in
                    </a>
                    instead.
                </p>
            </div>
        </div>
        <div class="md:block hidden text-white bg-blue-600 rounded-lg p-8 xl:p-12">
            <h2 class="text-lg xl:text-2xl pb-3">Sign Up Today
                Experience the future of investment management<br></h2>
            <div class="py-3">
                <!-- <img src={{signupbannerImage}} alt="login page image"
                    class="border rounded-lg border-blue-600 shadow"> -->
            </div>
        </div>
    </div>
</div>
